[submodule "ext/corrade"]
	path = ext/corrade
	url = https://github.com/mosra/corrade
[submodule "ext/xtensor"]
	path = ext/xtensor
	url = https://github.com/xtensor-stack/xtensor
[submodule "ext/xtl"]
	path = ext/xtl
	url = https://github.com/xtensor-stack/xtl
[submodule "ext/xsimd"]
	path = ext/xsimd
	url = https://github.com/xtensor-stack/xsimd
